* {
    margin: 0;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.flex-column{
    flex-direction: column;
}

.col-md-6 {
    width: 50%;
}

.col-4{
    width: 30%;
}

.bg-primary {
    background-color: #007bff;
}

.bg-light {
    background-color: #f2f2f2;
}

.py-1 {
    padding: 5px 0;
}

.py-2 {
    padding: 10px 0;
}

.py-5 {
    padding: 50px 0;
}

.text-end {
    text-align: right;
}

.text-center{
    text-align: center;
}

.btn {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0072ec;
}

.btn-outline-primary {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
}

.bg-secondary-subtle{
    background-color: #f2f2f2;
}

.card{
    border:1px solid #d3d3d3;
}

.card-body{
    padding: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.space-evenly{
    justify-content: space-evenly;
}